body {
    font-family: Roboto, helvetica, sans-serif;
}

header,
main,
footer {
    max-width: 760px;
    margin: 0 auto;
}

h1 {
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    margin: 1rem 0;
}

main {
    display: grid;
    grid-template-columns: 1fr 200px;
    gap: 1.5rem;
    padding: 1rem;
}

main h2 {
    grid-column: 1 / -1;
}

h2 {
    color: navy;
    text-align: left;
}

article p {
    text-align: justify;
}

.callout {
    color: #000;
    background-color: #eee;
    padding: 1rem;
}

footer {
    margin-top: 1rem;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    font-size: smaller;
    text-align: left;
}

.banner {
    border: 1px solid rgba(0, 0, 0, 0.2);
    padding: 1rem;
    background-color: rgb(230, 243, 254);
    font-weight: 700;
    word-break: break-word;
    text-align: center;
}